
@{
  ViewBag.Title = "JJ Hill PTO Email Utility";
}

<h2>Email Successfully Sent</h2>

<div>
@Html.ActionLink("Send Another Email", "Index", null, new { @class = "btn btn-defaul"})
</div>

